<p>
  <strong>Level:</strong>
  <%= @question.level %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
	<%= form_tag do %>
		<%= text_field_tag(:attempt) %>
		<%= submit_tag("OK") %>
	<% end %>
</p>

<%= link_to 'Questions', questions_path %>
<%= render 'debug' %>