<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<div class="base">
	<%= form_tag do %>
		<div class="content">
			<%= level_status(@status) %>
			<% case @question.qtype
				when "radio" %>
					<%= metro_radio_button(:attempt, :checked, " check me") %>
				<% when "check" %>
					<%= metro_check_box "attempt[]", "a", " a-item" %><br>
					<%= metro_check_box "attempt[]", "b", " b-item" %><br>
					<%= metro_check_box "attempt[]", "c", " c-item" %>
				<% when "text" %>
					<%= metro_text_field(:attempt) %>
				<% else %>
					<a>Ooops!</a><br>
			<% end %>	
		</div>
		<div>
			<%= submit_tag("Try") %>
		</div>
	<% end %>
</div>

<%= link_to 'Questions', questions_path %>
<%= render 'debug' %>