<div class="base">
	<%= form_tag do %>
		<div class="content">
			<%= level_status(@status) %>
			<% case @question.qtype
				when "radio" %>
					<%= metro_radio_button(:attempt, :checked, " wide choice") %>
				<% when "check" %>
					<div class="checkbox-container">
						<%= metro_check_box "attempt[]", "a", " malachite" %><br>
						<%= metro_check_box "attempt[]", "b", " jasper" %><br>
						<%= metro_check_box "attempt[]", "c", " rhodonite" %><br>
						<%= metro_check_box "attempt[]", "d", " emerald" %>
					</div>
				<% when "text" %>
					<%= metro_text_field(:attempt) %>
				<% else %>
					<a>Ooops!</a><br>
			<% end %>	
		</div>
		<div>
			<%= submit_tag("Try") %>
		</div>
	<% end %>
</div>

<%= link_to 'Questions', questions_path %>
<%= render 'debug' %>
<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>
