
<%= form_for @answer do |f| %>

  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@answer.errors.count, "error") %> prohibited
        this answer from being saved:
      </h2>
      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :level, "Level" %><br>
    <%= f.text_field :level %>
  </p>
 
  <p>
    <%= f.label :value, "Value" %><br>
    <%= f.text_area :value %>
  </p>
 
  <p>
    <%= f.label :positive, "Positive" %><br>
    <%= f.check_box :positive %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>